<div class="listado">
  <h2>Listado de Promociones</h2>

  <form class="promocion-form" action="">
    <div class="field">
      <label for="ciudad">Ciudad</label>
      <input id="ciudad" type="text" name="ciudad">
    </div>
    <div class="field">
      <label for="colonia">Colonia</label>
      <input id="colonia" type="text" name="colonia">
    </div>
    <div class="field">
      <label for="paquete">Paquete</label>
      <input id="paquete" type="text" name="paquete">
    </div>
    <div class="field">
      <label>Tipo Servicio</label>
      <!-- <select [(ngModel)]="filtro.tipoServicio"> -->
      <select>
        <option value="ambos">Todos</option>
        <option value="residencial">Residencial</option>
        <option value="empresarial">Empresarial</option>
      </select>
    </div>
    <div class="promo-btns">
      <button class="btn-crear" (click)="openModal()">Crear</button>
      <button class="btn-buscar" (click)="listar()">Buscar</button>
    </div>
  </form>
</div>

<!-- <h3>Resultados:</h3> -->
<table>
  <thead class="bg-table">
    <tr>
      <th>Promoción</th>
      <th>Tipo</th>
      <th>Descuento Residencial</th>
      <th>Descuento Empresarial</th>
      <th>Aplica Nuevos</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Activa</th>
      <th>Función</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <td>Promo 10%</td>
      <td>Residencial</td>
      <td>10%</td>
      <td>10%</td>
      <td>Sí</td>
      <td>2024-01-01</td>
      <td>2025-12-31</td>
      <td>Sí</td>
      <td><button>Activar</button></td>
    </tr> -->
    <tr *ngFor="let promo of promociones">
      <td>{{promo.nombre}}</td>
      <td>{{promo.tipoPromocion}} </td>
      <td class="ancho-desc">{{ promo.descuentoResidencial}}%</td>
      <td class="ancho-desc">{{ promo.descuentoEmpresarial}}%</td>
      <td>{{promo.aplicaNuevos ? 'Sí' : 'No'}}</td>
      <td class="ancho-fecha">{{ promo.vigenciaDesde | date:'dd-MM-yyyy' }}</td>
      <td class="ancho-fecha">{{ promo.vigenciaHasta | date:'dd-MM-yyyy' }}</td>
      <td>{{ promo.activa ? 'Sí' : 'No' }}</td>
      <td><button>{{ promo.activa ? 'Desactivar' : 'Activar' }}</button></td>
    </tr>
  </tbody>
</table>
<!-- 
<div *ngIf="promociones.length > 0">
  <h3>Resultados:</h3>
  <div *ngFor="let promo of promociones" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    <p><strong>{{ promo.nombre }}</strong></p>
    <ul>
      <li>ID: {{ promo.idPromocion }}</li>
      <li>Tipo: {{ promo.tipoPromocion }}</li>
      <li>Descuento: {{ promo.descuentoResidencial * 100 }}%</li>
      <li>Aplica Nuevos: {{ promo.aplicaNuevos ? 'Sí' : 'No' }}</li>
      <li>Desde: {{ promo.vigenciaDesde | date:'yyyy-MM-dd' }}</li>
      <li>Hasta: {{ promo.vigenciaHasta | date:'yyyy-MM-dd' }}</li>
      <li><strong>Activa:</strong> {{ promo.activa ? 'Sí' : 'No' }}</li>
    </ul>
    <button (click)="cambiarEstado(promo.idPromocion, promo.activa)">
      {{ promo.activa ? 'Desactivar' : 'Activar' }}
    </button>
  </div>
</div>

<div *ngIf="promociones.length === 0">
  <p>No hay promociones disponibles con el filtro actual.</p>
</div>

 -->

@if (isModalOpen) {
<app-modal [isOpen]="isModalOpen" (close)="closeModal()" />
}